@model websitebanxemay.Models.CreateRoleViewModel

@{
    ViewData["Title"] = "Tạo role mới";
}

<h1 class="text-success">@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 col-12">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">             
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName" class="control-label"></label>
                    <input asp-for="RoleName" class="form-control" placeholder="Tên quyền truy cập"/>
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-success"><i class="bi bi-plus-circle"></i> Tạo role</button>
            </form>
        </div>
    </div>
</div>



