@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Hạn chế truy cập";
}

<div class="text-center">
    <h1 class="text-danger">Hạn chế truy cập</h1>
    <h5 class="text-danger">Bạn không có quyền truy cập vào chức năng này. </h5>
    <img src="~/images/No_access.png" style="height:300px; width:300px " />
</div>
